// $color-primary: rgb(17, 75, 95);
// $color-secondary: #1A936F;
// $color-tertiary: #88D498;
// $color-white: #F3E9D2;

$color-primary: rgb(0, 52, 89); 
$color-tertiary: #00a8e8;
$color-secondary: #007ea7;
$color-white: #f3e9d2;
