.activity {
  display: flex;
  height: 90vh;
  overflow: hidden;

  @include respond(large-phone) {
    flex-direction: column;
    padding: 0 0.25rem;
    height: fit-content;
  }

  &__h2 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
    // border-bottom: 3px solid $color-tertiary;
    text-align: center;
    padding: 0.25rem 0;

    @include respond(tab-land) {
      font-size: 2rem;
    }
  }

  &__shenanigan-wrapper {
    border: 3px solid transparent;
    height: 10rem;
    width: 100%;
    border-right: 0.5px solid $color-tertiary;
    border-left: 0.5px solid $color-tertiary;
    display: inline-block;
    position: relative;
    transition: 0.25s all;
    & > img {
      position: absolute;
      top: 0;
      z-index: -1;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }

  &__shenanigan-article {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    transition: 1s all;
    z-index: 11;
    &:hover {
      background: $color-primary;
    }
  }

  &__commits {
    color: white;
    width: 33.33vw;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
    @include respond(large-phone) {
      width: 100%;
    }
    &-heading-chart {
      background: $color-primary;

      @include respond(large-phone) {
        height: fit-content;
        text-align: center;
        margin: auto;
      }
    }

    &-data {
      width: 100%;
      font-size: 1rem;
      @include respond(tab-land) {
        font-size: 1rem;
        max-height: 55%;
      }

      @include respond(large-phone) {
        max-height: 100%;
      }
    }

    &-single {
      text-align: center;
      background: $color-primary;
      color: white;
      padding: 0.5rem 0;
      // margin: .5px auto;
      @include respond(tab-land) {
        margin: 0.25rem auto;
      }
    }
    &-text {
      color: $color-tertiary;
    }
  }

  &__codeWars-devto {
    width: 66.66vw;
    text-align: center;
    height: 92vh;
    overflow-y: scroll;
    @include respond(large-phone) {
      width: 100%;
      height: fit-content;
    }
  }

  &__codeWars {
    & > * a {
      text-decoration: none;
      color: white;
    }
  }

  &__codeWars-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: $color-primary;
    padding: 1rem 0;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-left: 0.5px solid $color-tertiary;
    border-right: 0.5px solid $color-tertiary;
    transition: all 0.25s;
    cursor: pointer;
    @include respond(tab-land) {
      font-size: 0.75rem;
    }

    & > * h4 {
      padding: 0;
      margin: 0;
      width: 100%;
      overflow: hidden;
      // white-space: nowrap;
    }

    & > * span {
      color: $color-tertiary;
    }
  }

  &__devto {
    &-articles-parent {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: auto;

      height: 60%;
    }

    &-article-wrapper {
      border: 3px solid transparent;
      height: 10rem;
      width: 100%;
      border-right: 0.5px solid $color-tertiary;
      border-left: 0.5px solid $color-tertiary;
      z-index: 1;
      display: inline-block;
      position: relative;
      transition: 0.25s all;

      @include respond(tab-port) {
        width: 47%;
        height: 9rem;
      }
      @include respond(large-phone) {
        width: 45%;
      }

      & > a {
        text-decoration: none !important;
      }
    }

    &-article {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;
      transition: 1s all;
      background: rgba(0, 52, 89, 0.85);
      &:hover {
        background: $color-primary;
      }

      &-h4 {
        color: white;
        font-size: 1.75rem;
        margin: 0;
        @include respond(tab-land) {
          font-size: 1.5rem;
        }
      }

      &-img {
        position: absolute;
        top: 0;
        z-index: -1;
        left: 0;
        height: 100%;
        width: 100%;
      }

      &-tags {
        font-weight: bold;
        & > span {
          font-size: 1rem;
          margin: auto 3px;
          color: $color-tertiary;
          @include respond(tab-land) {
            font-size: 1rem;
          }
        }
      }

      &-time {
        color: white;
        font-weight: bold;
        font-size: 1rem;
        @include respond(tab-land) {
          font-size: 1rem;
        }
      }
    }
  }
}

::-moz-scrollbar-button,
::-webkit-scrollbar-button {
  width: 0px;
}
