.activity {
  display: flex;
  height: 90vh;
  @include respond(large-phone) {
    flex-direction: column;
    height: fit-content;
  }

  &__h2 {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
    text-align: center;
    padding: 0.25rem 0;
    text-decoration: underline $color-tertiary;

    @include respond(tab-land) {
      font-size: 2rem;
    }
  }

  &__commits {
    color: white;
    width: 33.33vw;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
    @include respond(large-phone) {
      width: 100%;
    }
    &-heading-chart {
      background: $color-primary;

      @include respond(large-phone) {
        height: fit-content;
        text-align: center;
        margin: auto;
      }
    }

    &-data {
      width: 100%;
      font-size: 1rem;
      @include respond(tab-land) {
        font-size: 1rem;
        max-height: 55%;
      }

      @include respond(large-phone) {
        max-height: 100%;
      }
    }

    &-single {
      text-align: center;
      background: $color-primary;
      color: white;
      padding: 0.5rem 0;
      // margin: .5px auto;
      @include respond(tab-land) {
        margin: 0.25rem auto;
      }
    }
    &-text {
      color: $color-tertiary;
    }
  }

  &__codeWars-devto {
    width: 66.66vw;
    text-align: center;
    height: 90vh;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    margin-left: 10px;
    @media only screen and (max-height: 700px) {
      margin-left: 0;

    }


    @include respond(large-phone) {
      width: 100%;
      overflow-y: auto;
      height: fit-content;
      margin-left: auto;
      margin-bottom: 0.25rem;
    }
  }

  &__codeWars {
    width: 100%;
    & > * a {
      text-decoration: none;
      color: white;
    }
  }

  &__codeWars-carousel {
    width: 100%;
  }

  &__devto {
    width: 100%;
    &-articles-parent {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: auto;
      height: 60%;
    }

    &-article-wrapper {
      height: 10rem;
      width: 100%;
      border-right: 0.5px solid $color-tertiary;
      border-left: 0.5px solid $color-tertiary;
      z-index: 1;
      display: inline-block;
      position: relative;
      transition: 0.25s all;

      & > a {
        text-decoration: none !important;
      }
    }

    &-article {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;
      transition: 1s all;
      background: rgba(0, 52, 89, 0.85);
      &:hover {
        background: $color-primary;
      }

      @include respond(large-phone) {
        padding: 0 0.25rem;
      }

      &-h4 {
        color: white;
        font-size: 1.75rem;
        margin: 0;
        @include respond(tab-land) {
          font-size: 1.5rem;
        }
        @include respond(large-phone) {
          font-size: 1.1rem;
        }
      }

      &-img {
        position: absolute;
        top: 0;
        z-index: -1;
        left: 0;
        height: 100%;
        width: 100%;
      }

      &-tags {
        font-weight: bold;
        & > span {
          font-size: 1rem;
          margin: auto 3px;
          color: $color-tertiary;
          @include respond(tab-land) {
            font-size: 1rem;
          }
          @include respond(large-phone) {
            font-size: 0.75rem;
          }
        }
      }

      &-time {
        color: white;
        font-weight: bold;
        font-size: 1rem;
        @include respond(tab-land) {
          font-size: 1rem;
        }
      }
    }
  }
}
