.intro {
  display: flex;
  height: 93vh;
  width: 100%;
  overflow: hidden;

  &__h1 {
    padding: 1rem;
    margin: 1rem;
  }
  &__h2 {
    padding: 0;
    margin: 0;
    font-size: 3.25rem;
    color: $color-tertiary;
  }

  &__days-a-developer {
    font-size: 2rem;
    text-align: center;
    color: black;
  }

  &__desc-section {
    font-size: 2.25rem;
    align-items: center;
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
  }

  &__links {
    margin: 3rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    & > a {
      margin: auto 1rem;
    }
  }

  &__bio {
    font-size: 2rem;
  }

  &__tech-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
  }

  &__circle-container {
    transform-origin: initial;
    @include on-circle(
      $item-count: 7,
      $circle-size: 33rem,
      $item-size: 6.66rem
    );
    animation: cog-spin 1s ease-out;
    shape-outside: circle(50%);
    position: relative;
  }
}

.express-icon {
  width: 75px;
  height: 75px;
}
