.projects {
  margin-top: 9vh;

  &__container {
    padding: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }

  &__tech-parent {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  &__tech-name {
    display: inline-block;
    margin: 0 3px;
    font-size: .85rem;
  }

  &__card {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0.25rem;
    width: 20rem;
    height: 15rem;
    background: rgba(0, 126, 167, 0.9);
    position: relative;
    transition: 0.25s all;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    cursor: pointer;

    & > h3 {
      font-size: 2rem;
      padding: 0.5rem;
      margin: 0.5rem;
      text-align: center;
    }

    & > img {
      position: absolute;
      top: 0;
      z-index: -1;
      left: 0;
      height: 100%;
      width: 100%;
    }

    &:hover {
      background: $color-secondary;
    }
  }
}
