.single-project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5vh;

  &__container {
    max-width: 75%;
    border-radius: 5px;
    box-shadow: 0 1rem 3rem black;
    position: relative;
    background: white;
    // color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 1rem;

    & > h1 {
      font-size: 4rem;
      text-align: center;
      margin: auto;
    }
  }

  &__back-btn {
    font-size: 2rem;
    height: fit-content;
    width: fit-content;
    position: absolute;
    padding: 0;
    & > img {
      background: $color-tertiary;

      margin: 0.5rem;
      padding: 0.5rem;
      border-radius: 100px;
      transition: 0.25s all;

      &:hover {
        transform: rotate(360deg);
      }
    }
  }

  &__carousel-parent {
    display: flex;
    justify-content: center;
    height: 25rem;
    align-items: flex-start;
    padding: 1rem;
    margin: 2rem auto;
  }

  &__desktop-carousel {
    margin-right: 1rem;
    width: 40vw;
    height: 30vh;
    & > * img {
      width: 30rem;
      height: 25rem;
    }
  }

  &__mobile-carousel {
    width: 12.5vw;
    height: 20vh;

    & > * img {
      width: 5rem;
      height: 25rem;
    }
  }

  &__tech {
    color: $color-tertiary;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    & > span {
      margin: auto 0.5rem;
    }
  }

  &__desc {
    max-width: 75ch;
    margin: 2rem auto;
    font-size: 2rem;
  }
}
