.navbar {
  position: fixed;
  height: 7vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center; }
  .navbar > a {
    font-size: 2.5rem;
    margin: auto 0.5rem;
    text-decoration: none; }

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes cog-spin {
  0% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes underline-fade {
  0% {
    width: 0%;
    border-bottom: 2px solid black; }
  100% {
    width: 20rem;
    border-bottom: 2px solid transparent; } }

html {
  margin: 0;
  padding: 0; }

body {
  padding: 0;
  margin: 0; }

.intro {
  display: flex;
  height: 100vh; }
  .intro__h2 {
    font-size: 3.25rem; }
  .intro__days-a-developer {
    font-size: 2rem;
    text-align: center; }
  .intro__desc-section {
    font-size: 2.25rem;
    align-items: center;
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem; }
  .intro__links {
    display: flex;
    align-items: center;
    justify-content: center; }
    .intro__links > a {
      margin: auto 1rem; }
  .intro__bio {
    font-size: 2rem; }
  .intro__border {
    border: 1px solid darkgray; }
  .intro__tech-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    background: lightsteelblue; }
  .intro__circle-container {
    transform-origin: initial;
    position: relative;
    width: 33rem;
    height: 33rem;
    border-radius: 50%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    animation: cog-spin 1s ease-out;
    shape-outside: circle(50%);
    position: relative; }
    .intro__circle-container > * {
      position: absolute;
      width: 6.66rem;
      height: 6.66rem;
      margin: 0;
      padding: 0; }
      .intro__circle-container > *:nth-of-type(1) {
        transform: rotate(0deg) translate(16.5rem) rotate(0deg); }
      .intro__circle-container > *:nth-of-type(2) {
        transform: rotate(45deg) translate(16.5rem) rotate(-45deg); }
      .intro__circle-container > *:nth-of-type(3) {
        transform: rotate(90deg) translate(16.5rem) rotate(-90deg); }
      .intro__circle-container > *:nth-of-type(4) {
        transform: rotate(135deg) translate(16.5rem) rotate(-135deg); }
      .intro__circle-container > *:nth-of-type(5) {
        transform: rotate(180deg) translate(16.5rem) rotate(-180deg); }
      .intro__circle-container > *:nth-of-type(6) {
        transform: rotate(225deg) translate(16.5rem) rotate(-225deg); }
      .intro__circle-container > *:nth-of-type(7) {
        transform: rotate(270deg) translate(16.5rem) rotate(-270deg); }
      .intro__circle-container > *:nth-of-type(8) {
        transform: rotate(315deg) translate(16.5rem) rotate(-315deg); }

.express-icon {
  width: 75px;
  height: 75px; }

.activity {
  margin-top: 7vh;
  display: flex;
  height: 93vh;
  padding: 1rem; }
  .activity__commits {
    width: 50vw;
    max-height: 90vh;
    overflow: hidden; }
  .activity__codeWars-devto {
    width: 50vw;
    padding-right: 1rem;
    text-align: center; }
  .activity__codeWars {
    overflow-y: scroll;
    height: 50%; }
    .activity__codeWars > * a {
      text-decoration: none;
      color: white; }
  .activity__codeWars-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: whitesmoke;
    margin: 0.5rem;
    padding: 1rem;
    background: #114B5F;
    color: white;
    width: 40%;
    font-weight: bold;
    font-size: 2rem;
    display: inline-block; }
    .activity__codeWars-card > h4 {
      padding: 0;
      margin: 0;
      width: 100%;
      overflow: hidden;
      overflow: hidden;
      white-space: nowrap; }
    .activity__codeWars-card > * span {
      font-size: 1.5rem;
      color: #88D498; }
    .activity__codeWars-card--user {
      background: #1A936F; }
  .activity__devto {
    overflow-y: scroll;
    height: 50%; }
